#p1 {
  color: blueviolet;
  border: 4px solid powderblue;
  padding: 5px; /*az border fasele mide*/
}
* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.test1 {
  color: mediumseagreen;
}
.center {
  text-align: center;
}

th,
td {
  border: 2px dotted rgb(1, 51, 43);
  border-collapse: collapse; /*khato saf mikone(yek khat mishe)*/
  border-radius: 20px;
}
th,td{
  background-color: rgb(129, 165, 153);
  padding: 10px;
  border-spacing: 5px;
  
}
