h5.test1 {
    color: aquamarine;
    font-size: 20px;
  }
  h4.test1 {
    color: rgb(40, 38, 172);
  }
  .ts {
    font-size: 50px;
  }
  .test2 { 
    color: crimson;
  }
  h5.test2 {
    color: chocolate;
    font-size: 60px;
  }
  #test4 {
    color: darkslategrey;
    
  }